/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
}

/* Base */

body {
  font-family: Arial, sans-serif;
}

/* Navigation */

.main-nav {
  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 5000;

  background-color: black;
  color: white;
  border-bottom: 1px solid #E4080A;

  font-family: 'Montserrat', sans-serif;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;

  font-family: 'Roxie Rossa', sans-serif;
  color: rgba(244,82,78);
}

.nav-profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav-name {
  font-size: 20px;
  font-weight: 600;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.nav-right a:hover {
  color: #555;
}

.nav-dropdown {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-dropdown a{
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.nav-dropdown a:hover {
  color: #555;
}

.nav-link {
  cursor: pointer;
  padding: 10px 14px;
  color: white;
  user-select: none;
}

.nav-dropdown::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 10px;
}

.dropdown-menu {
  position: fixed;
  top: 70px;
  right: 0;

  background: #111;
  min-width: 180px;

  display: none;
  flex-direction: column;

  border-radius: 6px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);

  z-index: 2000;
}

.dropdown-menu a {
  padding: 10px 14px;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-menu a:hover {
  background: #222;
}

.dropdown-menu.show {
  display: flex;
}

/* Scrolling Container */

#scrolling-container {
  position: absolute;
  top: 70px;
  bottom: 0;
  width: 100%;

  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

#scrolling-container::-webkit-scrollbar {
  display: none;
}

/* Iframes */

.page-iframe {
  width: 100%;
  height: calc(100vh - 70px);
  border: none;
  display: block;
  overflow: hidden;
}

/* Global Mini Player */

#global-mini-player {
  position: fixed;
  right: 15px;
  bottom: 30px;

  width: 320px;
  height: 70px;
  padding: 10px 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #111;
  color: white;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);

  z-index: 1000;
}

.hidden-mini-player {
  display: none !important;
}

#gmp-info {
  width: 50%;
}

#gmp-title {
  font-size: 15px;
  font-weight: 600;
}

#gmp-time {
  font-size: 12px;
  opacity: 0.8;
}

/* Wave Bars */

#gmp-wave {
  display: flex;
  gap: 3px;
  width: 32px;
  align-items: flex-end;
}

.gbar {
  width: 3px;
  height: 5px;
  background: rgba(244,82,78);
  border-radius: 3px;
}

/* Controls */

.g-img-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.g-img-btn img {
  width: 28px;
  height: 28px;
  transition: transform 0.2s;
}

.g-img-btn:hover img {
  transform: scale(1.1);
}

.g-img-btn:active img {
  transform: scale(0.9);
}

/* Fonts */

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
       url('../fonts/montserrat/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roxie Rossa';
  src: url('../fonts/roxieRossa/Roxie rossa.ttf') format('truetype');
}
