/* Global */

html, body {
    height: 100%;
}

body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
}

/* Headers*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    height: 50px;
    line-height: 50px;

    background-color: #fff;
    border: 1px solid black;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

header a {
    text-decoration: none;
    font-size: 1.5em;
    color: #483D8B;
}

/* Sections */

section {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: left;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#hero {
    background-color: black;
}

#about {
    background-color: #111111;
}

#contact {
    background-color: #0d0603;
}

#music {
    background-color: #2C2C2C;
}

#feedback {
    background-color: #5C5656;
}

#to-do {
    background-color: #13160d;
}

#hero .profile-img {
    width: 300px;
    border-radius: 50%;
}

/* Footer */

footer {
    text-align: center;
    padding: 50px;
}

/* Reveal Effect */

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
