body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
	border: 1px solid black;
    line-height: 50px;
    background-color: #fff;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

#hero .profile-img {
    width: 300px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 50px;
}

header a {
    text-decoration: none;
	font-size: 1.5em;
    color: #483D8B;
}

#hero {
    background-color: black;
}

#about {
    background-color: #111111;
}

#contact {
    background-color: #0d0603;
}

html, body {
    height: 100%;    
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
